<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Send SMS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
    <div class="container">
        <input type="tel" name="number" id="number" placeholder="Enter number...">
        <input type="text" name="message" id="message" placeholder="Enter text...">
        <input type="button" value="Send SMS" class="button button-primary" id="button">
        <p id="response"></p>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="main.js"></script>
</body>
</html>